body{
    margin:0;
    padding:0;
    background-color: #52B2BF;
}


.wrapperTable{
    width: 1130px;
}

.tableTitle{
    height: 70px;
    padding:10px 0 20px 20px;
    border: 1.5px solid black;
    width: 1100px;
    background-color:grey;
    margin-top:40px;

}


.buttonDiv{
    float:left;

}

.titlePage{
    float:left;
    padding-left:15px;

}

/*----------navigation------------*/

.navbar {
    background-color: #205b97;
    margin-bottom:10px;

}

.navbar h2{
    font-weight: lighter;
    font-style: italic;
    font-family: "Adobe Arabic, serif";
    color:#FFD600;
    padding-right:10px;
    padding-top: 5px ;
}

.navbar img{
    width: 30px;
    height: 30px;
}


.navbar-nav {
    margin:0 auto;

}

.navbar-nav a {
    margin-right: 25px;
    font-weight:bold;
    color: white !important ;
}

.navbar-nav a:hover {
    color:grey !important;
}


/*-------------------USER-------------------*/

.user{
    border:1px solid black;
    width:300px;
    height:150px;
    background-color: #343a40;
    color:white;
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;


}

.info{
    border:1px solid black;
    width:300px;
    margin-top: 67px;


}

.moreInfo{
    border-bottom: 1px solid black;

}


/*----------------------------INDEX VIEW--------------------*/

.card{

    height:240px;
    padding: 30px;
    margin-top: 10px;

}

.icon svg{
    margin-left: 350px;
    margin-top: -50px;
}



 /*------------------BACK ARROW---------------*/

.backArrow {
    margin-top: -30px;

}

.backArrowShow{
    margin-top: 200px;
}

.backArrowCreate{
    margin-top:30px;

}

.backArrowCreateOrders{
    margin-top:-30px;
    margin-left: 100px;

}


/*-------------ACTION--------*/

.actionDiv{
    width:500px;
    height: 400px;
    border:1px solid black;
    padding:30px;
    padding-top:70px;
    margin-top:50px;
    margin-left: 30px;
    border-radius: 25px;
    position: relative;
}

.action-title{
    width:400px;
    height:70px;
    background-color: #FFD600;
    position: absolute;
    top:-30px;
    left:50px;

}

.action-title span{
    color:dimgray;
}

.action-title h4{
    padding: 15px 0 0 20px;
}

.actionDivOrder{
    width:500px;
    height: 470px;
    border:1px solid black;
    padding:30px;
    padding-top:70px;
    margin-top:30px;
    margin-left: 30px;
    border-radius: 25px;
    position: relative;
}

/*--------------EDIT----------*/

.editBtn{
    margin-left:350px;
    margin-top: 20px;

}
.editBtn button {
    width: 100px;
}


/*------------SHOW---------*/

.showTables span{
color:grey;
}
 /*------------------LOGIN------------*/

.login{
    border:1px solid black;
    width:300px;
    height:350px;
    margin:0 auto;
    margin-top:50px;
    padding: 20px;
    border-radius: 25px;

}

.login h4{
    text-align: center;
    padding-bottom: 20px;

}

.login input{

    margin-top: 30px;
    height: 40px;

}

.loginBtn{
    margin-top:30px;
    display: flex;
    justify-content: center;
}

.loginBtn button{
    width:300px;
    height: 40px;
}

.register{
    margin:0 auto;
    margin-top:15px;
    width:370px;
    height:470px;
    border:1px solid black;
    padding:10px 20px 0 20px;

}

.register h3{
    text-align: center;

}

/*-------------------CONTACT-------------*/

.contactWrapper{
    margin:0 auto;
    text-align: center;
    width:600px;
    height: 600px;

}

.contactWrapper h1{
    padding:20px 0 20px 0;
}

.subject input{
    width:450px;

}

/*------------FOOTER-------------*/

.footer{
    width:100%;
    height: 100px;
    background-color:#205b97 ;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media only screen and (max-width:600px){
    .icon svg{
        width:1em;
        height:1em;

    }
}

@media only screen and (max-width:600px){

    .card h4{
        font-size: 16px;

    }

    .card h2{
        font-size: 17px;
    }




}

